body {
    background-color: egg;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

p {
    text-align: center;
    margin: 40px 70px 40px 70px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}